body {
  font-size: 16px;
}

.signature {
  text-align: center;
}

.si-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.si-callout ul li:after {
  content: ",";
}

.si-callout ul li:last-child:after {
  content: "";
}

.si-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.si-callout + .si-callout {
  margin-top: -5px;
}

.si-callout-warning {
  border-left-color: #aa6708;
}

.si-callout-warning h4 {
  color: #aa6708;
}

.si-callout-info {
  border-left-color: #1b809e;
}

.si-callout-info h4 {
  color: #1b809e;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

